@model Dywq.Web.Dto.Commpany.AdminStatisticInfoDto
@{ 
    var start = string.IsNullOrWhiteSpace(Context.Request.Query["start"]) ? DateTime.Now.ToString("yyyy-01-01") : Context.Request.Query["start"].ToString();

      var end = string.IsNullOrWhiteSpace(Context.Request.Query["end"]) ? DateTime.Now.ToString("yyyy-12-31") : Context.Request.Query["end"].ToString();
}
@section head{
    <link href="~/css/pager.css" rel="stylesheet" />
    <style type="text/css">
        .todo {
            width: 100%;
            min-height: 30px;
            overflow: hidden;
        }

        .title {
            height: 30px;
            margin-bottom: 20px;
        }

        .items {
            width: 100%;
            min-height: 60px;
        }

            .items ul {
                width: 100%;
                min-height: 60%;
            }

                .items ul li {
                    width: 150px;
                    min-height: 40px;
                    text-align: center;
                    float: left;
                    background-color: white;
                    margin-right: 15px;
                    padding: 15px;
                    margin-bottom: 15px;
                }

                    .items ul li span {
                        width: 100%;
                        text-align: center;
                        float: left;
                    }

                        .items ul li span.number {
                            font-size: 18px;
                            font-weight: bolder;
                        }

        .todo-message {
            width: 100%;
            min-height: 100px;
            overflow: hidden;
        }

            .todo-message ul {
                width: 100%;
                overflow: hidden;
                background-color: white;
                padding: 15px;
                margin-bottom: 0;
            }

                .todo-message ul li {
                    width: 100%;
                    height: 30px;
                    float: left;
                }

                    .todo-message ul li span {
                        float: left;
                    }

                        .todo-message ul li span.cont {
                            width: 80%;
                        }

                        .todo-message ul li span.time {
                            width: 20%;
                            text-align: right;
                            padding-right: 15px;
                        }

        .paginabox {
            background-color: white;
            margin: 0;
            display: block;
            text-align: right;
            padding-right: 20px;
            padding-bottom: 20px;
        }

        .todo-message ul li a {
            color: black;
        }

        .items a {
            color: black;
        }
         .date{
             margin-bottom:20px;
         }

        .date span{
            font-size:15px;
        }
        .date input{
            margin-right:20px;
        }

         .date input[type=submit]{
             width:100px;
             height:30px;
             border-radius: 4px;
             background-color:#0094ff;
             border:none;
             color:white;
         }
    </style>
}




<div class="todo">
    <div class="title">
        <h3>统计信息  <span style=" font-size: 20px; margin-left: 10px;">选择日期</span></h3>

    </div>

    <div class="date">
        <form method="get">
            <span>开始日期：</span> <input type="date" name="Start" value="@(start)" /> <span>结束日期：</span> <input type="date" value="@(end)" name="End" /> <input type="submit" value="搜索" />
        </form>
    </div>

    <div class="items">
        <ul>
            <li>
                <a href="/user/article/policyArticleList">
                    <span class="number">@(Model.PolicyArticleTotalCount)</span>
                    <span>惠企政策总数</span>
                </a>
            </li>
            <li>
                <a href="/user/cooperation/list">
                    <span class="number">@(Model.CooperationInfoTotalCount)</span>
                    <span>企业对接信息总数</span>
                </a>
            </li>


        </ul>
    </div>
</div>



<div class="todo-message">


</div>




@section js{
    <script type="text/javascript">

    </script>
}