@{
    var user = (Dywq.Web.Dto.User.LoginUserDTO)ViewBag.CurrentUser;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>大亚湾区数字惠企平台！</title>
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/swiper-4.3.5.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/index.css" rel="stylesheet">
    <link href="~/css/index.ext.css" rel="stylesheet" />
    <link href="/css/header.css" rel="stylesheet">
    <link href="~/css/header.ext.css" rel="stylesheet" />
    <link href="/css/footer.css" rel="stylesheet">
    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/jquery-ext.js" type="text/javascript"></script>
    <script src="/js/bootstrap.js" type="text/javascript"></script>
    <script src="/js/swiper-4.3.5.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>

    <!-- header -->
    <header>
        <div class="container">
            <div class="col-md-3 col-sm-10 col-xs-12"></div>
            <div class="col-md-3 col-sm-10 col-xs-12"></div>
            <div class="col-md-6 col-sm-10 col-xs-12 login_con">
                <div class="tip">您好，欢迎来到大亚湾区数字惠企平台！</div>
                <div class="col-xs-4 col-md-1">
                    <div class="tab">☲</div>
                </div>
                @{
                    if (user != null)
                    { <div>
                            <div class="login_sec">
                                <img src="img/user2.png" alt="" class="userimg">
                                <div class="login_txt"><a href="/home/logout">退出</a></div>
                            </div>
                        </div>

                    }
                    else
                    {
                        <div>
                            <div class="apply">
                                <img src="img/apply2.png" alt="" class="applyimg">
                                <div class="apply_txt">申请入驻</div>
                            </div>
                        </div>
                    }
                }



            </div>
        </div>
    </header>


    <div class="shade">
        <ul>
            <li><a href="./index.html">首页</a></li>
            <li><a href="./index2.html">企业党建</a></li>
            <li><a href="./index3.html">惠企政策</a></li>
            <li><a href="./index4.html">企业融资</a></li>
            <li><a href="./index5.html">企业对接</a></li>
            <li><a href="./index6.html">专家智库</a></li>
            <li class="about">
                <a href="javascript:;"><span>关于我们</span><img class="arrowimg" src="./img/arrow.png" alt=""></a>
                <section class="about_sec">
                    <div class="about_sec_per"><a href="./index7.html">关于我们1</a></div>
                    <div class="about_sec_per"><a href="./index7.html">关于我们2</a></div>
                    <div class="about_sec_per"><a href="./index7.html">关于我们3</a></div>
                </section>
            </li>
        </ul>
    </div>

    <!-- logo -->
    <div id="logo">
        <div class="container">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <img src="img/logo2.png" alt="" class="logoimg">
            </div>
        </div>
    </div>

    <!-- nav -->
    <nav>
        <div class="container">
            <div class="wrap">
                <ul class="list">
                    <li class="active"><a href="./index.html">首页</a></li>
                    <li><a href="./index2.html">企业党建</a></li>
                    <li><a href="./index3.html">惠企政策</a></li>
                    <li><a href="./index4.html">企业融资</a></li>
                    <li><a href="./index5.html">企业对接</a></li>
                    <li><a href="./index6.html">专家智库</a>
                    <li class="about">
                        <a href="javascript:;"><span>关于我们</span><img class="arrowimg" src="./img/arrow.png" alt=""></a>
                        <section class="about_sec">
                            <div class="about_sec_per"><a href="./index7.html">关于我们1</a></div>
                            <div class="about_sec_per"><a href="./index7.html">关于我们2</a></div>
                            <div class="about_sec_per"><a href="./index7.html">关于我们3</a></div>
                        </section>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()


    <!-- footer -->
    <footer id="footer">
        <div class="container">
            <div class="footer_top">
                <div class="footer_sec">
                    <h3>联系协会<span>contact us</span></h3>
                    <ul>
                        <li>电话:0752-5765737</li>
                        <li>QQ:3306916664</li>
                        <li>邮箱:lianhehui2019@163.com</li>
                        <li>网址:www.0752qiye.cn</li>
                        <li>公司地址:惠州市大亚湾区创新大厦902座</li>
                    </ul>
                </div>
                <div class="footer_sec center_sec">
                    <h3>快捷链接<span>Quick links</span></h3>
                    <ul>
                        <li>关于协会</li>
                        <li>协会章程</li>
                        <li>申请入会</li>
                        <li>理事会介绍</li>
                    </ul>
                </div>
                <div class="footer_sec fianl noright">
                    <h3>微信公众号<span>Quick links</span></h3>
                    <img src="img/codeimg.png" alt="" class="codeimg">
                    <h5>（扫码关注微信公众号）</h5>
                </div>
            </div>
            <div class="gap"></div>
            <div class="footer_bottom">
                <div class="left_logo">
                    <img src="img/logo.png" alt="">
                </div>
                <div>
                    <ul class="right_text">
                        <li>数字惠企信息平台</li>
                        <li>版权所有: 大亚湾区工贸局</li>
                        <li class="norightmargin">技术支持: 大亚湾区企业联合会</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <script>
        var mySwiper = new Swiper('.swiper-container', {
            direction: 'horizontal',
            loop: true,
            // 如果需要分页器
            pagination: {
                el: '.swiper-pagination',
            },
            autoplay: {
                delay: 3000,
            }
        })
        let num = 0;
        let num2 = 0;
        $(".tab").click(function () {
            if (num % 2 == 0) {
                $(".shade").css("height", "352px")
            } else {
                $(".shade").css("height", "0")
            }
            ++num;
        })
        $(".list li.about").click(function () {
            $(".about_sec").slideToggle();
        })

        $(".shade li.about").click(function () {
            if (num2 % 2 == 0) {
                $(".shade").css("height", "500px")
            } else {
                $(".shade").css("height", "352px")
            }
            ++num2;
            $(".about_sec").slideToggle();

        })

        // nav
        $(".company").hide().eq(0).show();
        $(".subject_ul li").click(function () {
            let index = $(this).index();
            $(".subject_ul li").removeClass("active_coned");
            $(this).addClass("active_coned");
            $(".company").hide().eq(index).show();
        })
        $(".active_con_rights_sec").hide().eq(0).show();
        $(".choose_tip_li").click(function () {
            let index = $(this).index();
            $(".choose_tip_li").removeClass("actived_tip");
            $(this).addClass("actived_tip");
            $(".active_con_rights_sec").hide().eq(index).show();
        })
    </script>

    @RenderSection("js", false);
</body>

</html>