@model Dywq.Web.Dto.Article.PolicyArticleDTO
@section head{
    <link href="~/css/index8.css" rel="stylesheet" />

}


<div id="main_content">
    <div class="container">
        <div class="main_title">
            <span class="home">首页</span>/<span class="activething">惠企政策</span>
        </div>

        <div style="text-align:center;"><h3>@(Model.ThemeTitle)</h3></div>

        <div style="text-align:center; margin-top:20px;">来源：@(Model.Source) &nbsp;&nbsp;&nbsp;&nbsp; @(Model.CreatedTime.ToString("yyyy-MM-dd"))</div>

        <hr />
        <div style="line-height:2;font-size:16px;">
            @(Html.Raw(Model.Content))
        </div>
    </div>
</div>



